<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <sectionGroup name="userSettings"
                  type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="NVIDIASurroundToggle.Properties.Settings"
               type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
               allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <userSettings>
    <NVIDIASurroundToggle.Properties.Settings>
      <setting name="Arrangement" serializeAs="String">
        <value />
      </setting>
      <setting name="Topology" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Resolution" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="RefreshRate" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Bezel1" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Bezel2" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Bezel3" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Bezel4" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="DisplaySettings" serializeAs="String">
        <value />
      </setting>
      <setting name="Settings_Version" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="FirstRun" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ControlPanelLanguage" serializeAs="String">
        <value />
      </setting>
    </NVIDIASurroundToggle.Properties.Settings>
  </userSettings>
</configuration>